* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  // color: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.65em;

  p {
    margin: 0;
  }
}

img {
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

/*
a:visited {
  color: rgb(153, 153, 153);
}
*/
a:hover,
a:focus,
a:active {
  color: $color-blue;
}
