/*================================
Medium devices (640px and larger)
==================================*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;

    .logo {
      width: auto;
      float: left;
      margin-top: -10px;
    }

  main {
    padding-top: 90px;
  }
  body {
    font-size: 20px;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    .align-right {
      margin-top: 4px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
}

/*================================
Large devices (1024px or larger)
==================================*/
@media only screen and (min-width: 1024px) {}
/*================================
X-Large devices (1440px or larger)
==================================*/
@media only screen and (min-width: 1440px) {}
