.button-container,
.socmed-container {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.button.contact {
  background-color: transparent;
  color: $color-blue;
  text-transform: uppercase;
  border: 2px solid $color-blue;
  display: inline-block;
  width: 100%;
}

.button.contact:active,
.button.contact:focus,
.button.contact:hover {
  background-color: #FFF;
  color: $color-blue;
  border: 2px solid #FFF;
}

.socmed {
  padding-left: 0;
  padding-top: 30px;

  li {
    list-style-type: none;
    padding: 0;
    display: inline-block;

    img {
      width: 40px;
      margin-right: 6px;
      margin-left: 6px;
    }

    svg:hover {
      fill: $color-blue;
    }
  }
}

.copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
}

footer {
  color: $color-maingrey;
}
