.iris p, .arturo p {
  font-family: 'Kumbh Sans', sans-serif;
}

.iris h1, .iris h2, .iris h3, .iris h4 {
  font-family: 'Nunito', sans-serif;
}

.iris p, .iris h1, .iris h3 {
  color: #0f0f0b;
}

.iris h2 {
  color: #f03d57;
}
