.arturo p,
.iris p {
  font-family: 'Kumbh Sans', sans-serif;
}

.iris h1,
.iris h2,
.iris h3,
.iris h4 {
  font-family: 'Nunito', sans-serif;
}

.iris h1,
.iris h3,
.iris p {
  color: #0f0f0b;
}

.iris h1 {
  margin-top: 40px;
}

.iris h2 {
  color: #f03d57;
  margin-bottom: 20px;
  margin-top: 40px;
}

.iris p {
  margin-top: 0;
  margin-bottom: 30px;
}

#iris-logo {
  text-align: center;
  margin-bottom: 20px;

  img {
    margin: 20px;
    width: 50%;
  }
}

#color-info {
  text-align: center;

  p {
    margin: 10px 0;
  }

  div {
    padding: 20px;
  }
}

#pill-pink {
  height: 80px;
  width: 50%;
  border-radius: 60px;
  background-color: #f03d57;
  border: none;
  margin: 0 auto;
}

#pill-whisper {
  height: 80px;
  width: 50%;
  border-radius: 60px;
  background-color: #ece9e9;
  border: none;
  margin: 0 auto;
}

#pill-aubergine {
  height: 80px;
  width: 50%;
  border-radius: 60px;
  background-color: #322c2d;
  border: none;
  margin: 0 auto;
}

#pill-black {
  height: 80px;
  width: 50%;
  border-radius: 60px;
  background-color: #0f0f0b;
  border: none;
  margin: 0 auto;
}

#iris-font-li {
  ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    width: 100%;
    font-family: 'nunito', sans-serif;

    li {
      list-style-type: none;
      display: inline;
      padding: 0 10px 0 0;
    }

    li:first-child {
      font-weight: 300;
    }

    li:nth-child(2) {
      font-weight: 400;
    }

    li:nth-child(3) {
      font-weight: 700;
    }
  }
}

.nunito-style {
  font-family: 'nunito', sans-serif;

  h2 {
    font-weight: 700;
    font-size: 50px;
    color: #0f0f0b;
    margin-bottom: 0;
  }

  p {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
  }
}

.comfortaa-style {
  font-family: 'comfortaa', sans-serif;

  h2 {
    font-weight: 500;
    font-size: 50px;
    color: #0f0f0b;
    margin-bottom: 20px;
  }

  p {
    font-family: 'comfortaa', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

.pink a {
  color: #f03d57;
}
