#index-hero {
  background-color: #FFF;
  padding-bottom: 20px;
  display: inline-block;
  width: 100%;
}

#about-hero {
  // background-color: #FFF;
  // padding-bottom: 20px;
  display: inline-block;
  width: 100%;
  color: $color-maingrey;
}

#index-hero h1 {
  text-align: center;
}
// This is for Arturo and IRiS' background color

.project-body {
  background-color: #FFF;
}
/* Layout styling */
.container {
  padding: 0 15px;
}

.intro {
  padding-top: 10px;
}

main {
  padding-top: 160px;
}

.screen-stack {
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    li {
      display: inline;
      padding-right: 5px;
      img {
        width: 30%;
        border-radius: 5px;
        display: inline;
        -webkit-box-shadow: 0 5px 30px 19px rgba(50, 50, 50, 0.05);
        -moz-box-shadow: 0 5px 30px 19px rgba(50, 50, 50, 0.05);
        box-shadow: 0 5px 30px 19px rgba(50, 50, 50, 0.05);
      }
      // li img:nth-child(2) {
      //   top: 10px;
      //   left: -10px;
      //   width: 100%;
      //   height: 100%;
      // }
    }
  }
}
.corner img {
  border-radius: 10px;
}
.apps {
  display: inline-block;
  width: 100%;

  ul {
    padding-left: 0;
    margin-top: 20px;

    li {
      list-style-type: none;
      display: inline;
      padding: 0 10px 0 0;

      img {
        width: 50px;
        height: auto;
      }
    }
  }
}

.full-fluff {
  padding: 20px 0;
  text-align: center;
}

.bottom-fluff {
  margin-bottom: 50px;
}

// This adds padding
/* #index-hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#about-hero h1 {
  margin: 0;
  padding: 0.67em 0;
} */
