nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul {
  padding: 0 15px;
  font-weight: 300;
  color: #fff;

  .align-right {
    text-transform: uppercase;
  }
}

nav > ul > li:first-child {
  width: 100%;
  display: block;
  text-transform: none;
  // text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
}

.logo {
  font-weight: 700;
  font-size: 1.7em;
  line-height: 2.55em;
  margin: 0;
  vertical-align: baseline;
}
